.pagesBtn, .selectedPage {
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    height: 23px;
    margin-top: 20px;
    margin-left: 5px;
    padding: 0;
    color: black;
}

.pagesBtn:hover {
    cursor: pointer;
    background-color: #ffcd7e;
    transition: 0.5s;
}

.pagesBtn:active {
    background-color: #eeba72;
}

.selectedPage {
    color: #945701;
}

.pagesBtnArea {
    width: 1000px;
    margin-left: 250px;
}

.backBtn {
    background-color: #ffcd7e;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
}

.backBtn:disabled:hover, .forwardBtn:disabled:hover {
    background-color: #ffcd7e;
    cursor: auto;
}

.backBtn:hover, .forwardBtn:hover {
    background-color: #eeba72;
    transition: 0.5s;
}

.backBtn:active, .forwardBtn:active {
    background-color: #e5b16a;
}

.forwardBtn {
    background-color: #ffcd7e;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
}

