.header {
    grid-area: h;
    background-color: #ffcd7e;
    /*background-color: #ffecbe;*/
}

.logoContainer {
    /*display: flex;*/
    /*justify-content: center;*/
}

.header img {
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
}