.nav {
    grid-area: n;
    background-color: #ffcd7e;
}

.item {
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    border-radius: 7px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    border-radius: 7px;
    color: #ce7800;
    display: block;
    padding-left: 15px;
}

.item .active {
    color: #945701;
    text-decoration: none;
    padding-left: 15px;
}

.item:hover {
    background-color: #eeba72;
}

.item:active {
    background-color: #e5b16a;
}