.profileBox {
    display: flex;
}

.avatarContainer {
    padding-left: 40px;
}

.avatar {
    height: 180px;
    width: 180px;
    border-radius: 5px;
    margin-top: 15px;
}

.infoBox {
    margin-top: 20px;
    margin-left: 20px;
}

.infoInput {
    height: 25px;
    width: 500px;
    background-color: rgba(218, 200, 164, 0.26);
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

.name {
    font-weight: bold;
}

.status {

}

input[type='file'] {
    display: none;
}

.changeAvatar {
    display: inline-block;
    background-color: rgba(255, 205, 126, 0.4);
    color: #ce7800;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 17px;
    width: 90px;
    font-size: 12px;
    text-align: center;
}

.changeAvatar:hover {
    background-color: rgba(255, 205, 126, 0.5);
    color: #945701;
    transition: 0.5s;
}
