.profileBox {
    display: flex;
}

.avatarContainer {
    padding-left: 40px;
}

.avatar {
    height: 180px;
    width: 180px;
    border-radius: 5px;
    margin-top: 15px;
}

.infoBox {
    margin-top: 20px;
    margin-left: 20px;
}