.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: #945701;
    text-decoration: none;
}

.dialog {
    color: #7c7c7c;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}
